/* 
.TrashWidget {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: rgb(100, 84, 76);
    border-radius: .5rem;
    border-color: transparent;
    display: flex;
    font-size: 2rem;
    justify-content: center
}

.trashtImg {

    height: 1.5rem;
} */

