.Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(100, 163, 60), rgb(44, 44, 44));
    background-attachment: fixed;
    flex-wrap: wrap;
  }

  .CartTitle {
    font-size: 2rem;
    vertical-align: middle;
    color: rgb(100, 84, 76);
    text-align: center;

}