.detailContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(100, 163, 60), rgb(44, 44, 44));
  background-attachment: fixed;
  flex-wrap: wrap;

}

.detail {
  width: 40rem;
  margin-top: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  overflow: hidden;
}

.head {
  /* width: 10rem; */
  height: 10rem;
  position: relative;
  justify-content: center;
  margin: 0;
  flex-direction: row;
}

.head .img img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  margin: .5rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(100, 84, 76);
  padding: 5px;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
  align-self: center;
}

.img img.top:hover {
  opacity: 0;
}

.textDescription {
  position: relative;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 7.5rem;
  padding-right: 1rem;
}

.itemTitle,
.prizeText {
  font-size: 2rem;
  display: block;
  background-color: rgb(100, 84, 76);
  color: white;
  text-align: center;
  font-weight: 300;
  margin: 0;

  width: 100%;
  font-weight: 300;
}
.ItemFooter {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
}
.ButtonFooter {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
}
.detailButton {
  width: 11rem;
  padding-top: .5rem;
  text-decoration: none;
  margin: 1rem 0 1rem 0;
  color: rgb(148, 204, 68);
  background-color: rgb(100, 84, 76);
  border-radius: .5rem;
  border-color: transparent;
  text-align: center;
}

.detailButton:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(148, 204, 68);
}