/* .cartItem {
  position: relative;
  width: 80vw;
  height: 4.25rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;

  display: flex;
  justify-items: center;
}

.cartItem:hover {
  box-shadow: 0 5px 15px #000;

} */

.cartItem .cartHead {

  width: 6rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* .cartItem .cartHead .cartCircle {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(100, 84, 76);
  top: -1rem;
  left: -1rem;
} */

/* .cartItem .cartHead .cartImg img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  left: 0.5rem;
  top: 0.15rem;

  transition: opacity 0.5s ease-in-out;
} */

.cartItem .cartImg img.cartTop:hover {
  opacity: 0;
}

.cartTitle {
  height: 2rem;
  width: 30rem;
  justify-content: start;
}

.cartPrice {
  height: 2rem;
  width: 10rem;
  justify-content: right;
}

.orderButton {
  width: 10.5rem;
  padding-top: .25rem;
  height: 2rem;
  text-decoration: none;
  margin: 1rem 0 1rem 0;
  color: rgb(148, 204, 68);
  background-color: rgb(100, 84, 76);
  border-radius: .5rem;
  border-color: transparent;
  text-align: center;
}

.orderButton:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(148, 204, 68);
}

.order {
  display: flex;
  justify-content: space-evenly;
}
