.carcount {
    margin: 0;
    padding: 0;

}
.cartCounter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin : 0 2rem;
}

.cartButton {
    margin: 1rem;
    height: 2.25rem;
    width: 2.25rem;
    text-decoration: none;
    margin: 1rem 0 1rem 0;
    color: rgb(148, 204, 68);
    background-color: rgb(100, 84, 76);
    border-radius: .5rem;
    border-color: transparent;
    text-align: center;

}
.cartNumber{
    width: 6.5rem;    
    height: 2rem;
    margin: 0;
    padding-top: .25rem;
    text-decoration: none;
    color: rgb(100, 84, 76);
    background-color: white;
    border-radius: .5rem;
    border-color: transparent;
    text-align: center;
    text-justify: auto;
}
.cartButton:hover {
    color: rgb(44, 44, 44);
    background-color: rgb(148, 204, 68);
}

